

.result__title{
    font-family: Roboto Slab, Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: center;
    color: #1A1B22;
    margin: 0 auto 64px auto;
    text-overflow:  ellipsis;
}


@media screen  and (min-width: 760px) and (max-width: 1023px){
    .result__title{
        font-size: 30px;
        line-height: 34px;
        margin: 0 auto 32px auto;
    }
}

@media screen and (max-width: 759px){
    .result__title{
        font-size: 30px;
        line-height: 34px;
        margin: 0 auto 24px auto;
    }
}
